body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
}